In [79]:
import pandas as pd

In [80]:
data_train = pd.read_csv('train.csv')
data_train.head(6)

   id     Sex  Age  Height  Weight  Duration  Heart_Rate  Body_Temp  Calories
0   0    male   36   189.0    82.0      26.0       101.0       41.0     150.0
1   1  female   64   163.0    60.0       8.0        85.0       39.7      34.0
2   2  female   51   161.0    64.0       7.0        84.0       39.8      29.0
3   3    male   20   192.0    90.0      25.0       105.0       40.7     140.0
4   4  female   38   166.0    61.0      25.0       102.0       40.6     146.0
5   5  female   26   156.0    56.0      19.0       100.0       40.5     103.0

In [81]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750000 entries, 0 to 749999
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id          750000 non-null  int64
 1   Sex         750000 non-null  object
 2   Age         750000 non-null  int64
 3   Height      750000 non-null  float64
 4   Weight      750000 non-null  float64
 5   Duration    750000 non-null  float64
 6   Heart_Rate  750000 non-null  float64
 7   Body_Temp   750000 non-null  float64
 8   Calories    750000 non-null  float64
dtypes: float64(6), int64(2), object(1)
memory usage: 51.5+ MB

Problem to solve: predict how many calories were burned during a workout

In [82]:
data_train.drop_duplicates()

,id,Sex,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
0,0,male,36,189.0,82.0,26.0,101.0,41.0,150.0
1,1,female,64,163.0,60.0,8.0,85.0,39.7,34.0
2,2,female,51,161.0,64.0,7.0,84.0,39.8,29.0
3,3,male,20,192.0,90.0,25.0,105.0,40.7,140.0
4,4,female,38,166.0,61.0,25.0,102.0,40.6,146.0
...,...,...,...,...,...,...,...,...,...
749995,749995,male,28,193.0,97.0,30.0,114.0,40.9,230.0
749996,749996,female,64,165.0,63.0,18.0,92.0,40.5,96.0
749997,749997,male,60,162.0,67.0,29.0,113.0,40.9,221.0
749998,749998,male,45,182.0,91.0,17.0,102.0,40.3,109.0
749999,749999,female,39,171.0,65.0,19.0,97.0,40.6,103.0

In [83]:
data_train.drop('id', axis=1, inplace=True)

In [84]:
encoded_df = pd.get_dummies(data_train['Sex'], prefix='Sex', dtype=int)
data_train = pd.concat([data_train, encoded_df], axis=1).drop('Sex', axis=1)
data_train

,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories,Sex_female,Sex_male
0,36,189.0,82.0,26.0,101.0,41.0,150.0,0,1
1,64,163.0,60.0,8.0,85.0,39.7,34.0,1,0
2,51,161.0,64.0,7.0,84.0,39.8,29.0,1,0
3,20,192.0,90.0,25.0,105.0,40.7,140.0,0,1
4,38,166.0,61.0,25.0,102.0,40.6,146.0,1,0
...,...,...,...,...,...,...,...,...,...
749995,28,193.0,97.0,30.0,114.0,40.9,230.0,0,1
749996,64,165.0,63.0,18.0,92.0,40.5,96.0,1,0
749997,60,162.0,67.0,29.0,113.0,40.9,221.0,0,1
749998,45,182.0,91.0,17.0,102.0,40.3,109.0,0,1
749999,39,171.0,65.0,19.0,97.0,40.6,103.0,1,0

In [ ]:
cols_to_scale = [0,1,2,3,4,5,6]

data_train.iloc[:, cols_to_scale] = data_train

mean = data_train.iloc[:, cols_to_scale].mean()
std = data_train.iloc[:, cols_to_scale].std()

scaled_data = data_train.copy()
scaled_data.iloc[:, cols_to_scale] = scaled_data.iloc[:, cols_to_scale].astype(float)

scaled_data.iloc[:, cols_to_scale] = (data_train.iloc[:, cols_to_scale] - mean) / std

C:\Users\alkas\AppData\Local\Temp\ipykernel_31928\3270787787.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         36.0
1         64.0
2         51.0
3         20.0
4         38.0
          ...
749995    28.0
749996    64.0
749997    60.0
749998    45.0
749999    39.0
Name: Age, Length: 750000, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  scaled_data.iloc[:, cols_to_scale] = scaled_data.iloc[:, cols_to_scale].astype(float)